$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../font" !default;

$icon-box: unquote('"\\e945"');
$icon-credit: unquote('"\\e946"');
$icon-cross: unquote('"\\e947"');
$icon-flash: unquote('"\\e948"');
$icon-thumbs-down: unquote('"\\e949"');
$icon-thumbs-up: unquote('"\\e94a"');
$icon-traffic-cone: unquote('"\\e94b"');
$icon-linkedin: unquote('"\\e94c"');
$icon-close: unquote('"\\e921"');
$icon-trash1: unquote('"\\e922"');
$icon-spells-path1: unquote('"\\e935"');
$icon-spells-path2: unquote('"\\e936"');
$icon-spells-path3: unquote('"\\e937"');
$icon-spells-path4: unquote('"\\e938"');
$icon-spells-path5: unquote('"\\e939"');
$icon-spells-path6: unquote('"\\e93a"');
$icon-spells-path7: unquote('"\\e93b"');
$icon-spells-path8: unquote('"\\e93c"');
$icon-spells-path9: unquote('"\\e93d"');
$icon-spells-path10: unquote('"\\e93e"');
$icon-spells-path11: unquote('"\\e93f"');
$icon-spells-path12: unquote('"\\e940"');
$icon-hat1: unquote('"\\e900"');
$icon-hat2: unquote('"\\e901"');
$icon-autoselect: unquote('"\\e902"');
$icon-trade1: unquote('"\\e903"');
$icon-discord: unquote('"\\e933"');
$icon-steam_circle: unquote('"\\e904"');
$icon-spell-path1: unquote('"\\e941"');
$icon-spell-path2: unquote('"\\e942"');
$icon-spell-path3: unquote('"\\e943"');
$icon-spell-path4: unquote('"\\e944"');
$icon-chat: unquote('"\\e905"');
$icon-checkmark: unquote('"\\e906"');
$icon-trade2: unquote('"\\e907"');
$icon-home: unquote('"\\e908"');
$icon-pencil: unquote('"\\e909"');
$icon-ticket: unquote('"\\e90a"');
$icon-credit-card: unquote('"\\e90b"');
$icon-clock: unquote('"\\e90c"');
$icon-drawer: unquote('"\\e90d"');
$icon-download: unquote('"\\e90e"');
$icon-database: unquote('"\\e90f"');
$icon-spinner1: unquote('"\\e910"');
$icon-search: unquote('"\\e911"');
$icon-wrench: unquote('"\\e912"');
$icon-equalizer: unquote('"\\e913"');
$icon-refined_metal: unquote('"\\e914"');
$icon-stats-dots: unquote('"\\e915"');
$icon-stats-bars: unquote('"\\e916"');
$icon-plus: unquote('"\\e917"');
$icon-minus: unquote('"\\e918"');
$icon-exit: unquote('"\\e919"');
$icon-spinner2: unquote('"\\e91a"');
$icon-code: unquote('"\\e91b"');
$icon-facebook: unquote('"\\e91c"');
$icon-youtube: unquote('"\\e91d"');
$icon-youtube2: unquote('"\\e91e"');
$icon-steam_rectangle: unquote('"\\e91f"');
$icon-paypal: unquote('"\\e920"');
$icon-magic-wand: unquote('"\\e997"');
$icon-gift: unquote('"\\e99f"');
$icon-question: unquote('"\\ea09"');
$icon-checkmark1: unquote('"\\ea10"');
$icon-robot: unquote('"\\eac6"');
$icon-user: unquote('"\\e923"');
$icon-signal: unquote('"\\e924"');
$icon-info: unquote('"\\e925"');
$icon-logout: unquote('"\\e926"');
$icon-notifications1: unquote('"\\e927"');
$icon-notifications2: unquote('"\\e928"');
$icon-verified: unquote('"\\e929"');
$icon-arrow_down: unquote('"\\e92a"');
$icon-trash-can2: unquote('"\\e92b"');
$icon-key: unquote('"\\e92c"');
$icon-trash-can1: unquote('"\\e92d"');
$icon-mail: unquote('"\\e92e"');
$icon-group: unquote('"\\e92f"');
$icon-asc: unquote('"\\e930"');
$icon-desc: unquote('"\\e931"');
$icon-trash-can3: unquote('"\\e932"');
$icon-snowflake-o: unquote('"\\e934"');

