
/* Main background */
$dark-blue_bg: rgba(1,31,77,1);
$dark-blue_nav_bg: rgb(17, 74, 159);
/* Sign-in / User */
$sign_c_1: rgba(31,72,215,1);
$sign_c_2: rgba(21,185,237,1);
$sign_deg: 145deg;

/* Buttons */
$greenGrad_c_1: #11d4bd;
$greenGrad_c_2: #34ea16;
$greenGrad_deg: 145deg;

/* Components  */
$widget_fill_c: #414142;
$widget_border_c: rgb(47, 47, 47);
$readMore_c: rgb(4, 202, 4);

/* Item Qualities */
$unique_c: #f3c10a;
$strange_c: #F9733A;
$unusual_c: #8E3AF9;
$decorated_c: #F2F2F2;
$genuine_c: #2E9E33;
$vintage_c: #3A9DF9;
$haunted_c: #08FD96;
$collectors_c: #C73737;

/* Item Grades */
$civilian_grade_c: #B0C3D9;
$freelance_grade_c: #5E98D9;
$mercenary_grade_c: #4B69FF;
$commando_grade_c: #8847FF;
$assassin_grade_c: #D32CE6;
$elite_grade_c: #EB4B4B;




