<footer>
    <div class="foo-content">
        <div class="copyrights">
            <span class="text-block"><span>Powered by <a rel="nofollow" href="https://steampowered.com" target="_blank" nofollow>Steam</a></span></span>
            <span class="creator-credit">Created by <a rel="nofollow" href="https://www.linkedin.com/in/nikolas-mal%C3%ADk-8169911b4/" target="_blank" nofollow>Nikolas Malík</a></span>
        </div>
    </div>
</footer>
