footer{
    display: block;
    position: relative;
    background-color: rgb(1, 17, 41);
    border-top: 1px solid rgb(60, 60, 60);
    margin: 2rem 0 0 0;
    .foo-content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;    
        max-width: calc(1380px - 2rem);
        padding: 1rem 0 0 0;
        margin: 0 auto;   
        @media screen and (max-width: 1420px) {
            flex-direction: column;
            align-items: center;
        }
        *{
            width: fit-content;
        }
        .foo-links{
            flex: 2;
            padding: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            .foo-links-column{
                display: flex;
                flex-direction: column;
                margin: 0 1rem;
                width: fit-content;
                @media screen and (max-width: 980px) {
                    width: 16rem;
                    align-items: center;
                }
                .foo-col-heading{
                    font-size: 22px;
                    letter-spacing: 0.05rem;
                    font-weight: bold;
                    color: rgb(129, 63, 234);
                    margin-bottom: .3rem;
                    @media screen and (max-width: 980px) {
                        text-decoration: underline;
                        text-underline-offset: .1rem;
                        font-size: 24px;
                    }
                }
                .foo-col-link{
                    margin: .6rem 0 0 1.6rem;
                    font-size: 19px;
                    line-height: 1rem;
                    letter-spacing: 0.02rem;
                    color: rgb(176, 176, 176);
                    transition: 50ms ease-in;
                    /* font-weight: bold; */
                    @media screen and (max-width: 980px) {
                        line-height: 1.5rem;
                        font-size: 20px;
                        margin-left: 0 !important;
                    }
                    &:hover{
                        color: rgb(170, 129, 236);
                    }
                    &::before{
                            content: "";
                            position: absolute;
                            display: block;
                            z-index: 1;
                            pointer-events: none;
                            user-select: none;
                            height: 1.6rem;
                            width: .7rem;
                            left: -1.25rem;
                            top: -1.1rem;
                            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                            border-left: 1px solid rgba(255, 255, 255, 0.5);
                            @media screen and (max-width: 980px) {
                                display: none;
                            }
                    }
                    &:first-of-type{
                        &::before{
                            height: .75rem;
                            top: -.25rem;
                        }
                    }
                    &:last-of-type{
                        &::before{
                            border-radius: 0 0 0 4px;
                        }
                    }
                }
            }
        }
        .foo-credits{
            flex: 1;
            padding: .5rem 1.5rem;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            @media screen and (max-width: 1420px) {
                align-items: center;
                flex-direction: row;
            }
            @media screen and (max-width: 980px) {
                margin: 2.5rem 0;
            }
            a[href="/"]{
                img{
                    height: 50px;
                    width: 263.15px;
                    @media screen and (max-width: 1420px) {
                        margin-left: 0;
                    }
                }
            }
            .copyright{
                font-size: 15px;
                color: rgb(145, 143, 143);
                margin-bottom: .5rem;
                @media screen and (max-width: 1420px) {
                   margin-left: .3rem;
                }
            }
            .social-media{
                order: 2;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                position: relative;
                width: fit-content;
                max-width: 16rem;
                min-height: 3rem;
                margin-top: 0rem;
                margin-bottom: 1rem;
                @include lt-sm{
                    width: 100%;
                }
                @media screen and (max-width: 1420px) {
                    margin: 0 1rem;
                }
                .heading-social{
                    display: block;
                    width: 100%;
                    text-align: center;
                    color: rgb(145, 143, 143);
                    letter-spacing: 0.05rem;
                    font-size: 18px;
                    margin: .5rem 0;
                }
                a{
                    order: 1;
                    margin: 0 .5rem;
                    span.icon{
                        font-size: 2rem;
                        color: rgb(145, 143, 143);
                        margin: 0;
                        padding: 0;
                        transition: 150ms;
                        &:hover{
                            color: rgb(191, 190, 190);

                        }
                    }
                }
            }
        }
        .copyrights{
            @include flexCenter();
            flex-direction: column;
            flex-wrap: wrap;
            padding: 1rem;
            font-size: 17px;
            width: calc(100% - 2rem);
            color: rgb(222, 220, 220);
            text-align: center;
            position: relative;
            *{
                z-index: 1;
            }
            &::after{
                content: "";
                display: block;
                position: absolute;
                z-index: 0;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 100vw;
                height: 100%;
                background: rgb(2, 2, 2);
            }
            span.text-block{
                position: relative;
                display: block;
                text-align: center;
                margin: .3rem 0;
                span{
                    @include lt-sm{
                        display: block;
                        &.between{
                            display: none;
                        }
                    }
                    a{
                        display: inline-block;
                        color: rgb(131, 77, 217);
                        transition: 200ms;
                        font-weight: bold;
                        text-decoration: none;
                        text-underline-offset: .2rem;
                        &:hover{
                            color: rgb(148, 102, 223);;
                        }
                    }
                }
            }
            .creator-credit{
                display: block;
                position: relative;
                margin: .4rem 0;
                font-size: 15px;
                color: #a8a8a8;
                a{
                    color: #a8a8a8;
                    display: inline-block;
                    transition: 200ms;
                    &:hover{
                        color: rgb(230, 230, 230);
                    }
                }
            }
        }
    }

}